.CommonBackground{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Images/FormBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.CommonBackground .layer{
    background-color: rgba(0, 0, 0, 0.7);
    min-height: calc(100vh);
    padding:150px 0px 0px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}   
