
.Docs  .bgText{
    color: var(--whiteToBlack);
    background-color: #f1ab3283;
    font-size: 1.7rem;
    font-weight: 800;
    letter-spacing: 0.01rem;
    text-align: start;
    line-height: 2rem;
    padding: 12px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
