.updateProfile {
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formLayer {
  width: 25%;
  background-color: var(--form-bg-updateProfile);
  display: flex;
  justify-content: center;
  align-items: center;
}
.formLayer label{
  color: var(--whiteToBlack);

}
.validateMessage {
  color: red;
  font-size: 18px;
  text-align: center;
}