.card {
  /* position-relative text-center */
  position: relative;
  text-align: center;
  min-height: 35vh;
}
.btn {
  padding: 10px 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  transition: 0.3s all;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}
/* Responsive styles */
@media (max-width: 1024px) {
    .btn {
        padding: 14px 28px !important;
        font-size: 15px !important;}
  }
@media (max-width: 768px) {
  .btn {
    padding: 12px 24px !important;
    font-size: 14px !important;
  }
}

@media (max-width: 576px) {
  .btn {
    padding: 10px 20px !important;
    font-size: 12px !important;


  }
}
