/* style h2 */
.Register h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.Register h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.Register p {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}
.Register p span {
  color: var(--span-color);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
