/* style h2 */
.Login h2{
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
}
.Login h3{
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 1.5rem;
}
.Login p{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 0.1rem;
}
.Login p span{
    color: var(--span-color);
}
.Login .checkBox{
    background-color: var(--whiteToBlack);
    width: 10%;

}