@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
:root{
    --primary-color: #F1AB32;
    --navbarPrimColor: #F1AB32;
    --form-prim-color:  #363636c7;
    --blackToWhite: #1E1E1E;
    --whiteToBlack: #f1f1f1;
    --disabled-color:rgba(128, 123, 123, 0.684);
    /*
    preCalc 
    Our Services 
     */
    --secondary-color: #f1be65;
    --table-background:#363636;
    --thead-background:#443D31;
    --row-background:#555353;
    --footer-text-color: #949494c7;
    --span-color:#F4682D;
    /* 
    Update profile */
    --form-bg-updateProfile:  #363636;

}
body{
       font-family: "Baumans", system-ui;
        font-weight: 400; 
}

button{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}
button:active{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
/* because i use sometimes liknks like buttons */
.linkNav:hover{
    transition: all 0.3s ease;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.linkNav:active{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}


button.form-button {
    background-color: var(--primary-color);
    width: 100%;
    color: white;
    font-size: 0.9rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 12px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
  }
  button.form-button:hover {
    background-color: var(--secondary-color);
  }
  button.form-button:disabled {
    background-color: var(--disabled-color);
    cursor : wait;
  
  }
::selection{
    background-color: var(--primary-color);
    color: white;
}

/* Remove it after finshing pre calc  */
.test input::placeholder{
    color: white !important;
}